<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <section>
    <div class="login-box">
        <form action="/login" method="POST"> <!-- Action updated to /login and method POST -->
            <img src="geclogo.webp" alt="logo">
            <h2>Login</h2>

            <div class="input-box">
                <span class="icone"><ion-icon name="person"></ion-icon></span>
                <input type="text" name="username" required> <!-- Name attribute added -->
                <label>Username</label>
            </div>

            <div class="input-box">
                <span class="icone"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" name="password" required> <!-- Name attribute added -->
                <label>Password</label>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot Password</a>
            </div>
            <button type="submit">Login</button>
            <div class="register-link">
                <p>Don't have an account? <a href="/register">Register</a></p>
            </div>
        </form>
    </div>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
